@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    margin: 0px;
    padding: 0px;

    font-family: 'Indie Flower', cursive;
    background-color: #F7F5EB;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding-left: 40px;

    background-color: #EAC7C7;

    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-text {
    font-size: 36px;
    font-weight: 600;
    color: #55666e;
}

.content {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 86vh;
    display: flex;
    gap: 20px;
}

.sidebar {
    min-width: 209.875px;
    flex-basis: 18%;
    background-color: #EAE0DA;
    border-radius: 8px;
    box-shadow: 7px 7px 14px #a9a9a9, -7px -7px 14px #f8f6ee;
}

.task-container {
    min-width: 618.570px;
    flex-basis: 60%;
    border-radius: 8px;
    box-shadow: 7px 7px 14px #a9a9a9, -7px -7px 14px #f8f6ee;
}

.editor {
    min-width: 277.555px;
    flex-basis: 20%;
    background-color: #EAE0DA;
    border-radius: 8px;
    box-shadow: 7px 7px 14px #a9a9a9, -7px -7px 14px #f8f6ee;
}